<tr>
  <th scope="row"><%= index %></th>
  <td><%= students_book_253.Ma_HS %></td>
  <td><%= students_book_253.Ten_HS %></td>
  <td><%= students_book_253.Lop %></td>
  <td><%= students_book_253.Ma_Sach %></td>
  <td><%= students_book_253.Ten_Sach %></td>
  <td><%= students_book_253.Ten_TacGia %></td>
  <td><%= students_book_253.Tu_Sach %></td>
  <td><%= students_book_253.So_BM %></td>
  <td><%= students_book_253.NgayMuon %></td>
  <td><%= students_book_253.NgayTra %></td>
  <td><%= students_book_253.So_Ngay %></td>
</tr>
